body {background:#d7faf4;text-align:center}

p{ 

  background-color: #f2b8ce;

  padding-top:30px; 

  padding-left:60px; 

  padding-right:60px; 

  padding-bottom:30px; 

  margin-top:30px; 

  margin-left:500px; 

  margin-right:500px; 

  margin-bottom:30px;   
  
  color:#fcf7f9
}

H3 {
  font-size:13pt;
  text-align:center;
  color:#ad73f0;
}

span{
  font-size:13pt;
  text-align:center;
  color:#eba0d4;
}
.video-back{ 

position:fixed;

top:0;   

left:0;

min-width:100%;

min-height:100%;

z-index:-1;  

}

 